<div class="welcome-page_welcome-panel_content">
  <h1>Register</h1>
  <form [formGroup]="form">
    <mat-form-field class="welcome-page_welcome-panel_input">
      <mat-label>Email</mat-label>
      <input type="text" matInput formControlName="email" />
      <mat-error *ngIf="form.get('email').hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="welcome-page_welcome-panel_input">
      <mat-label>First name</mat-label>
      <input type="text" matInput formControlName="firstName" />
      <mat-error *ngIf="form.get('firstName').hasError('required')">
        First name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="welcome-page_welcome-panel_input">
      <mat-label>Last name</mat-label>
      <input type="text" matInput formControlName="lastName" />
      <mat-error *ngIf="form.get('lastName').hasError('required')">
        Last name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="welcome-page_welcome-panel_input">
      <mat-label>Nick</mat-label>
      <input type="text" matInput formControlName="nick" />
      <mat-error *ngIf="form.get('nick').hasError('required')">
        Nick is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="welcome-page_welcome-panel_input">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password" />
      <mat-error *ngIf="form.get('password').hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <button
      class="welcome-page_welcome-panel_button"
      mat-raised-button
      color="primary"
      (click)="registerAccount()"
    >
      Register
    </button>
  </form>
  <button
    class="welcome-page_welcome-panel_button"
    mat-raised-button
    [routerLink]="''"
  >
    Back
  </button>
</div>
