<form [formGroup]="form">
  <div class="login-page">
    <div class="login-page_background-image"></div>
    <div class="login-page_login-panel">
      <h1>Sign-In</h1>

      <mat-form-field class="login-page_login-panel_input">
        <mat-label>Login</mat-label>
        <input type="text" matInput formControlName="login" />
        <mat-error *ngIf="form.get('login').hasError('required')">
          Login is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="login-page_login-panel_input">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" />
        <mat-error *ngIf="form.get('password').hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <button class="login-page_login-panel_button" mat-raised-button color="primary" (click)="login()">
        Log In
      </button>
    </div>
  </div>
</form>
